
body{
    background-color: tomato;
    color: midnightblue;
}
button{
    background-color: transparent;
    border: 1px solid midnightblue;
    text-align: center;
    color: midnightblue;
}
button:hover{
    background-color: midnightblue;
    color: tomato;
    transition:0.5s; 
}

.image {
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:250px;
    height:250px;
  }

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
h1{
    display: inline-block;
    border-top: 4px solid midnightblue;
    padding-top: 0px;
    font-size: 50px;
}
